<footer class="site-footer">
	<div class="wrapper">
		<center>
			<p><a href="{{ site.baseurl }}/archive/" class="link">Archive</a>
			<a href="{{ site.baseurl }}/category/" class="link">Category</a>
			<a href="{{ site.baseurl }}/tags/" class="link">Tags</a>
			<a href="{{ site.baseurl }}/about/" class="link">About</a>
			<a href="{{ site.baseurl }}/contact/" class="link">Contact</a></p>
			<span><script>document.write(new Date().getFullYear());</script></span>
			<span>&copy;</span>
			<a href="link" href="{{ site.baseurl }}">炽凌的笔记本</a>
			<br>
		</center>
	</div>
</footer>