<nav class="header">
    <div class="wrapper">
        <h1 class="bolger"><a href="{{ site.baseurl }}/">炽凌</a></h1>
        <ul class="nav">
            <!-- <li><a class="link" href="{{ site.baseurl }}/archive/">归档</a></li> -->
            <li><a class="link" href="{{ site.baseurl }}/category/">分类</a></li>
            <li><a class="link" href="{{ site.baseurl }}/tags/">标签</a></li>
            <li><a class="link" href="{{ site.baseurl }}/about/">关于我</a></li>
            <!-- <li><a class="link" href="{{ site.baseurl }}/contact/">联系我</a></li> -->
        </ul>
    </div>
</nav>
